.catalog__main {
  width: 320px;
  margin: 0 auto;
  position: absolute;
}
.catalog__wrapper {
  width: 320px;
}

.catalog__name {
  display: block;
  text-align: center;
  padding-bottom: 30px;
}
.catalog__btn {
  background-color: #ffffff;
  margin: 0 auto;
  width: 204px;
  height: 47px;
  position: relative;
  align-items: center;
  display: flex;
  border: 2px solid #151c22;
  outline: none;
}


.catalog__btn-img.open{
  transform: rotate(180deg);
}

.catalog__btn-name {
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
  left: 17px;
}

.catalog__btn-img {
  position: absolute;
  right: 17px;
}

.catalog__items {
  padding-top: 40px;
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.catalog__all-items {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

.catalog__items-item {
  padding: 10px;
}
/* .catalog__items-img {
  width: 130px;
  height: 160px;
} */
/* .catalog__items-img.big {
  height: 672px;
  width: 100%;
} */

.catalog__items-name {
  padding-top: 10px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: #151c22;
}
.catalog__items-price {
  font-family: Work Sans;
  font-weight: bold;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  color: #151c22;
}

@media (min-width: 768px) {
  .catalog__main {
    width: 700px;
    margin: 0 auto;
    padding-top: 26px;
  }
  .catalog__wrapper {
    width: 705px;
    position: relative;
  }
  .catalog__items {
    width: 733px;
    display: grid;
     /* grid-template-columns: 239px 242px 217px;
    grid-template-rows: 390px 362px 9px 73px 298px; */
    grid-template-columns: 185px 185px 217px;
    grid-template-rows: repeat(5, 1fr);
  } 
  .catalog__btn.open{
    width: 206px;
  }
  .catalog__btn.close{
    width: 206px;
  }

  .catalog__items figure:nth-child(5) {
    width: 208px;
    
    grid-column: 2/3;
    grid-row: 2/4;
  } 
  
  .catalog__items figure:nth-child(6) {
    grid-column: 1/1;
    grid-row: 3/3;
  }
  .catalog__items figure:nth-child(7) {
    grid-row: 4/4;
    grid-column: 2/4;
  }
  .catalog__items figure:nth-child(8){
    grid-row: 4/4;
    grid-column: 3/4;
  }
  .catalog__items figure:nth-child(9){
    grid-row: 4/4;
    grid-column: 1/4;
  }

  .catalog__btn {
    /* padding-right: 50px; */
    background-color: #ffffff;
    margin: 0 0 0 auto;

    width: 206px;
    height: 50px;
    position: relative;
    align-items: center;

    border: 2px solid #151c22;
    cursor: pointer;
  }
  
  .catalog__items-img {
    width: 206px;
    height: 279px;
  }
  .catalog__items-img.big {
    width: 442px;
    height: 672px;
  }
}
