.btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #151c22;
  color: white;
}

.btn--promo {
  margin-top: 30px;
  padding: 20px 45px;
}

.catalog--btn {
  margin: 0 auto;
  display: block;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.btn--add-card {
  padding: 25px 50px;
  margin-top: 10px;
  /* margin-bottom: 40px; */
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
