.color-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  margin-bottom: 23px;
  margin-left: 5px;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.radio input {
  display: none;
}

.radio .checkmark {
  width: 29px;
  height: 25px;
  border-radius: 100%;
  display: none;
}
.radio input:checked + .checkmark {
  display: inline-table;
}

@media (min-width: 768px) {
  .color-main {
    flex-direction: row;
    flex-wrap: wrap;
    width: 151px;
    margin-bottom: 10px;
  }
  .color-main-wrapp {
    width: 26px;

    padding: 10px;
  }
}
