.promo__main {
  padding-top: 150px;
  width: 320px;
  margin: 0 auto;
}

.promo__collection {
  margin: 0px;
  padding: 0px;
  width: 320px;
  height: 226px;
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  background: url("../promo/backgroundline.png");
}

.promo__img {
  width: 320px;
  height: 226px;
  display: block;
}

.promo__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 290px;
  height: 211px;
  background-color: #f1f2f4;
}

@media (min-width: 768px) {
  .promo__main {
    padding-top: 100px;
    width: 768px;
    margin: 0 auto;
  }
  .promo__wrapper {
    display: flex;
    justify-content: center;
  }

  .promo__collection {
    margin: 0px;
    padding: 0px;
    width: 324px;
    height: 287px;
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    align-items: center;

    background: url("../promo/backgroundline.png");
  }

  .promo__img {
    width: 354px;
    height: 287px;
    display: block;
  }

  .promo__background {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 304px;
    height: 247px;
    background-color: #f1f2f4;
  }
}

@media (min-width: 1366px) {
  .promo__main {
    padding-top: 100px;
    width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .promo__wrapper {
    display: flex;
    justify-content: center;
  }

  .promo__collection {
    margin: 0px;
    padding: 0px;
    width: 615px;
    height: 370px;
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    align-items: center;

    background: url("../promo/backgroundline.png");
  }

  .promo__img {
    width: 746px;
    height: 370px;
    
  }

  .promo__background {
    margin-top: 31px;
    margin-right: 183px;
    margin-bottom: 31px;
    width: 542px;
    height: 308px;
    background-color: #f1f2f4;
  }
}
