.promo__wrapper {
  text-align: center;
  margin: 0 auto;
}
.promoBg {
  z-index: 2;
}

@media (max-width: 768px) {
  .promoBg {
    margin: 0 auto;
    width: 290px;
    height: 211px;
    background-color: #f1f2f4;
  }
  .promo__wrapper {
    
    margin-top: 67px;
    width: 320px;
    height: 226px;
    background-image: url('../promo/backgroundline.png');
  }
  .promo__title {
    font-size: 18px;
    line-height: 21px;
  }
}
