.middle {
	position: relative;
	width: 50%;
	max-width: 500px;
}

.track{
  width: 290px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 5px;
}

.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #f1f2f4;
}

.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #151c22;
}

.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 16px;
  height: 16px;
  background-color: #151c22;
  border-radius: 50%;
  
}


.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(15px, -10px);
}



input[type=range]{
  position: absolute;
  
  z-index: 2;
  height: 2px;
  width: 100%;
  width: -50px;
}


/* #input-left{
  top: -100px;
}

#input-right {
  top: -50px;
} */
input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}