.range {
  /* width: 290px; */
  width: 259px;
  margin: 0 auto;
  position: relative;
  top: 7px;
  padding-bottom: 79px;
}
.slider {
  position: relative;
  z-index: 1;
  height: 5px;
  /* margin: 0 15px; */
  top: 0px;
  left: 0px;
  /* width: 261px; */
  /* width: 259px; */
  width: 253px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  /* left: -1px;
  right: -1px; */
  left: 0px;
  /* right: 15px; */
  right: 8px;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #f1f2f4;
}
.slider > .ranger {
  position: absolute;
  z-index: 1;
  /* left: 2%;
  right: 78%; */
  left: 9%;
  right: 72%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: black;
}

.input-left {
  position: absolute;
  top: 55%;
}

.input-right {
  top: 49%;
}

.btn-wrapp {
  position: relative;
  /* width: 259px; */
  width: 237px;
  top: 58px;
}

.btn-left {
  position: absolute;
  top: -64px;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  z-index: 3;
}
.btn-right {
  position: absolute;
  top: -64px;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  z-index: 3;
}

.ranger__slider-price-left {
  position: absolute;
  top: 28px;
  width: 100px;
  margin: 0px;
}
.ranger__slider-price-right {
  position: absolute;
  top: 28px;
  width: 100px;
  margin: 0;
}

/* .ranger-wrapper-price{
  
  
  
} */

input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 4;
  height: 10px;
  /* width: 285px;
  top: 25px;
  left: 0px; */
  width: 259px;
  top: 0px;
  left: 0px;
  opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

@media (min-width: 768px) {
  input[type="range"] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 4;
    height: 10px;
    width: 201px;
    top: 0px;
    left: 0px;
    opacity: 0;
  }

  .slider {
    position: relative;
    z-index: 1;
    height: 5px;
    margin: 0 15px;
    top: 0px;
    left: 0px;
    width: 178px;
  }

  .range {
    width: 201px;
    margin: 0 auto;
    position: relative;
    top: 7px;
    padding-bottom: 79px;
  }

  .btn-wrapp {
    position: relative;
    width: 178px;
    top: 58px;
  }

  .slider > .ranger {
    position: absolute;
    z-index: 1;
    left: -4%;
    right: 76%;

    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: black;
  }

  .slider > .track {
    position: absolute;
    z-index: 1;
    left: -17px;
    /* right: 13px; */
    right: 4px;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #f1f2f4;
  }
}
