.wrap {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  position: relative;
}

.best__wrapp_vi {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
}

.wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.best__wrapp_vi {
  display: flex;
  justify-content: space-around;

  margin: 0 auto;
}
.title {
  display: block;
  padding-right: 215px;
}
.best__wrapp {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrap {
    display: flex;
    flex-wrap: wrap;
    width: 714px;

    align-items: center;
    justify-content: center;
    position: relative;
  }
  .best__wrapp {
    width: 714px;
    margin: 0 auto;
  }
  .best__wrapp_vi {
    width: 674px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}


@media (min-width: 1000px){
  .wrap {
    display: flex;
    flex-wrap: nowrap;
    width: 1366px;

    align-items: center;
    justify-content: center;
    position: relative;
  }
  .best__wrapp {
    width: 1366px;
    margin: 0 auto;
  }
  .best__wrapp_vi {
    width: 1365px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}