.filter {
  width: 320px;
  margin: 0 auto;
}

.filters__menu {
  
  border-bottom: 2px solid #F1F2F4;
  padding-bottom: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.filter__price {
  display: flex;
  justify-content: space-between;
  
}

.filter__price--imgclose {
  transform: rotate(180deg);
}

.input--range {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 290px;
  height: 2px;
  border-radius: 3px;
  outline: none;
}
