.filter {
  width: 290px;
  margin: 0 auto;
  border: 2px solid #151c22;
  background-color: #ffffff;
}

.filter__price {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}

.filter__price--imgclose {
  transform: rotate(180deg);
}

.filter__color {
  border-top: 2px solid #f1f2f4;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}
.filter__collection {
  border-top: 2px solid #f1f2f4;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}

.filter__color--imgclose {
  transform: rotate(180deg);
}

.filter__colletion--imgclose {
  transform: rotate(180deg);
}

.filter__btn-down {
  border-top: 2px solid #f1f2f4;
  padding-top: 100px;
  padding-bottom: 20px;
}

.input--range {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 290px;
  height: 2px;
  border-radius: 3px;
  outline: none;
}
.filter__menu-wrapp {
  display: none;
  margin: 0;
}

@media (min-width: 768px) {
  .filter {
    width: 201px;
    position: absolute;
    right: 0px;
    margin: 0 0 0 auto;

    background-color: #ffffff;
  }

  .filter__menu-wrapp {
    display: block;
    text-align: center;
  }
  .filter__menu-clear {
    margin: 0;
    padding-bottom: 25px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .filter__price--price {
    padding-left: 15px;
  }
  .filter__color--color {
    padding-left: 15px;
  }
  .filter__collection--color {
    padding-left: 15px;
  }
  .filter__price {
    padding-right: 15px;
  }
  .filter__color {
    padding-right: 15px;
  }
  .filter__collection {
    padding-right: 15px;
  }
}
