.filter {
  width: 320px;
  margin: 0 auto;
}

.filters__menu {
  border-bottom: 2px solid #f1f2f4;
  padding: 0px;
  height: 45px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.filter__price {
  display: flex;
  justify-content: space-between;
}
.filter__nav--items{
  cursor: pointer;
}

.filter__price--imgclose {
  transform: rotate(180deg);
}

.filter__color{
  
  border-top: 2px solid #F1F2F4;
  display: flex;
  justify-content: space-between;
}
.filter__collection{
  border-top: 2px solid #F1F2F4;
  display: flex;
  justify-content: space-between;
}

.filter__color--imgclose{
  transform: rotate(180deg);
}

.filter__colletion--imgclose{
  transform: rotate(180deg);
}

.filter__btn-down{
  border-top: 2px solid #F1F2F4;
  padding-top: 100px;
}

.input--range {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 290px;
  height: 2px;
  border-radius: 3px;
  outline: none;
}

@media(min-width: 768px){
  .filter {
    width: 206px;
    position: absolute;
    right: 5px;
    margin: 0 0 0 auto;
    
    background-color :#FFFFFF;
  }

  .filter__wrapp{
    border: 2px solid #151C22;
  }

  .filter__price--price{
    padding-left: 15px;
  }
  .filter__color--color{
    padding-left: 15px;
  }
  .filter__collection--color{
    padding-left: 15px;
  }
  .filter__price{
    padding-right: 15px;
  }
  .filter__color{
    padding-right: 15px;
  }
  .filter__collection{
    padding-right: 15px;
  }
  
  
}