.gallery__main {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.gallery__items--item > .img__slider {
  display: none;
}

.visibli-hidden {
  visibility: hidden;
}
.gallery__items--item {
  list-style: none;
}

.gallery__btn {
  display: flex;
}

.gallery__btn--left {
  background: none;
  border: none;
  padding-right: 15px;
  outline: none;
}

.gallery__btn--right {
  background: none;
  border: none;
  padding-left: 15px;
  outline: none;
}
.gallery__img--active {
  width: 274px;
}

@media (min-width: 768px) {
  .gallery__main {
    display: flex;
    width: 720px;
    margin: 0 auto;
  }

  .gallery__btn--resolution {
    display: none;
  }

  .visibli-hidden {
    visibility: hidden;
  }
  .gallery__items--item {
    list-style: none;
  }

  .gallery__items--list {
    padding: 0px;
  }
  .gallery__btn {
    display: flex;
  }
  .gallery__items {
    display: flex;
    flex-wrap: wrap;
    width: 353px;
    justify-content: space-around;
  }

  .gallery__items--item > .img__slider {
    display: flex;
  }
  .gallery__btn--left {
    background: none;
    border: none;
    padding-right: 15px;
    outline: none;
  }

  .gallery__btn--right {
    background: none;
    border: none;
    padding-left: 15px;
    outline: none;
  }
  .gallery__img--active {
    display: block;
    margin: 0 auto;
    width: 324px;
    height: 360px;
  }

  .img__slider {
    width: 151px;
    height: 99px;
  }
}

@media (min-width: 1366px) {
  .gallery__main {
    display: flex;
    width: 1366px;
    margin: 0 auto;
    
  }
  .gallery__wrapper {
    margin-right: 130px;
  }

  .gallery__btn--resolution {
    display: block;
  }
  
  .gallery__btn {
    display: flex;
  }
  .gallery__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 120px;
    width: 452px;
    justify-content: space-around;
  }

  
  .gallery__btn--left {
    background: none;
    border: none;
    padding-right: 15px;
    margin-left: 50px;
    outline: none;
  }

  .gallery__btn--right {
    background: none;
    border: none;
    padding-left: 15px;
    outline: none;
  }
  .gallery__img--active {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 523px;
  }

  .img__slider {
    width: 85px;
    height: 113px;
  }
}
